Repository Lsh0x/AMI.rs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, dependencies, iam, sts, sso-admin, tests

fix: remove Cargo.lock for library crate
  .gitignore
  Cargo.lock
Labels: dependencies

Revert "fix: remove Cargo.lock for library crate"
  .gitignore
  Cargo.lock
Labels: dependencies

feat: rename package to rustyiam and set MSRV to 1.81.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  src/iam/access_keys.rs
  src/iam/mod.rs
  src/lib.rs
  src/sso_admin/mod.rs
  src/sts/mod.rs
Labels: documentation, dependencies, iam, sts, sso-admin

test: add comprehensive unit and integration tests
  src/iam/users.rs
  src/sso_admin/mod.rs
  src/sso_admin/tests.rs
  src/sts/mod.rs
  src/sts/tests.rs
  tests/integration_test.rs
Labels: documentation, iam, sts, sso-admin, tests

chore: update MSRV to 1.86.0
  CHANGELOG.md
  Cargo.toml
Labels: documentation, dependencies

chore: update MSRV to 1.90.0
  CHANGELOG.md
  Cargo.toml
Labels: documentation, dependencies

.github/labeler.yml:

# Configuration for the PR labeler
# See: https://github.com/actions/labeler

'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'
      - 'src/**/*.rs' # For rustdoc changes

'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - '*.yml'
      - '*.yaml'

'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'

'iam':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/iam/**/*'

'sts':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/sts/**/*'

'sso-admin':
  - changed-files:
    - any-glob-to-any-file:
      - 'src/sso_admin/**/*'

'tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*_test.rs'
      - '**/test_*.rs'

'bug':
  - head-branch: ['^fix', 'fix-', 'bugfix']

'enhancement':
  - head-branch: ['^feat', 'feature-', 'feature/']

'breaking-change':
  - head-branch: ['^breaking', 'breaking-']
  - body-contains: ['BREAKING CHANGE', 'breaking change']
